@font-face {
  font-family: "Poppins";
  src: url("fontes/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("fontes/Poppins-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Arial;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 600px;
  background-image: url(imagens/hero.png);
  background-size: cover;
  background-position: top center;
}

.header img {
  width: 140px;
}

.header h1 {
  text-align: center;
  color: white;
  font-size: 60px;
}

.header button {
  width: 250px;
  height: 50px;
  padding: 5px;
  background: white;
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px -2px #0e0e0e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #3e3e3e;
  transition: .25s;
}

.header button:hover {
  transform: scale(1.03);
}

.container {
  max-width: 1050px;
  margin: auto;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
  overflow: hidden;
}

.category-header,
.graphics-header {
  padding: 35px 15px;
}

.category-header h2,
.graphics-header h2 {
  font-size: 60px;
  color: #3e3e3e;
}

.category-header p, .graphics-header p {
  color: #3e3e3e;
}

.category-wrapper {
  flex: 1;
  padding: 40px 25px;
  margin: 15px;
}

.category {
  height: 310px;
  display: flex;
  color: #fff;
  transition: 0.25s
}

.category h3 {
  font-size: 60px;
  line-height: 1;
  padding-bottom: 20px;
}

.category-small {
  width: 33.5%;
}

.category-medium {
  width: 66.5%;
}

.category-large {
  flex-grow: 1;
}

.category-large .category-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-left {
  text-align: right;
}

.category:nth-child(1) .category-wrapper {
  background: url(imagens/nature.png) top center / cover no-repeat;
}

.category:nth-child(2) .category-wrapper {
  background: url(imagens/daily.png) top center / cover no-repeat;
  margin-right: 0;
}

.category:nth-child(3) .category-wrapper {
  background: url(imagens/together.png) top center / cover no-repeat;
  margin-right: 0;
}

.category:nth-child(4) .category-wrapper {
  background: url(imagens/analysis.png) top center / cover no-repeat;
}

.category:nth-child(5) .category-wrapper {
  background: url(imagens/pictures.png) top center / cover no-repeat;
  margin-right: 0;
}

.category:hover {
  transform: scale(1.03);
}


.footer {
  background: #f4f4f4;
  height: 620px;
}

.graphics-header {
  padding-top: 95px;
  margin-bottom: -120px;
}

.graphics {
  display: flex;
  align-items: flex-end;
  height: 410px;
}

.graphic {
  width: 16%;
  margin-right: 20px;
  color: white;
  height: 150px;
}

.graphic-head {
  background: #005499;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  transition: all 0.1s
}
.graphic-head p::selection {
  background: #0088ed;
}
.graphic-head h4 {
  font-size: 30px;
}
.graphic-head h5 {
  font-size: 14px;
}

.graphic-body {
  background: #0088ed;
  height: calc(100% - 75px);
  display: flex;
  align-items: flex-end;
  padding: 15px;
  font-size: 11px;
  font-weight: 300;
  transition: all 0.1s
}
.graphic-body p::selection {
  background: #005499;
}

.graphic:hover .graphic-head {
  background: #035faa;
}
.graphic:hover .graphic-body  {
  background: #008bf2;
}

.graphic-body p{
  font-family: "Poppins-Light";
}

@media screen and (min-width: 851px) {
  .graphic.animate:nth-child(1) {
    animation: grow1 2s normal forwards ease-in-out;
  }
  .graphic.animate:nth-child(2) {
    animation: grow2 2s normal forwards ease-in-out;
  }
  .graphic.animate:nth-child(3) {
    animation: grow3 2s normal forwards ease-in-out;
  }
  .graphic.animate:nth-child(4) {
    animation: grow4 2s normal forwards ease-in-out;
  }
  .graphic.animate:nth-child(5) {
    animation: grow5 2s normal forwards ease-in-out;
  }
  .graphic.animate:nth-child(6) {
    animation: grow6 2s normal forwards ease-in-out;
  }
  @keyframes grow1 {
    from {
      height: 150px;
    }
    to {
      height: 180px;
    }
  }
  @keyframes grow2 {
    from {
      height: 150px;
    }
    to {
      height: 230px;
    }
  }
  @keyframes grow3 {
    from {
      height: 150px;
    }
    to {
      height: 280px;
    }
  }
  @keyframes grow4 {
    from {
      height: 150px;
    }
    to {
      height: 320px;
    }
  }
  @keyframes grow5 {
    from {
      height: 150px;
    }
    to {
      height: 360px;
    }
  }
  @keyframes grow6 {
    from {
      height: 150px;
    }
    to {
      height: 410px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .category-small {
    width: 38%;
  }

  .category-medium {
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  .header img {
    width: 110px;
  }

  .header h1 {
    font-size: 36px;
    padding: 25px;
  }

  .footer {
    height: auto;
  }

  .category-wrapper {
    margin: 15px !important;
  }

  .graphics-header {
    margin: 0px;
  }

  .graphic-head h4 {
    font-size: 20px;
  }
  .graphic-head h5 {
    font-size: 13px;
  }

  .category-small {
    width: 100%;
  }

  .category-medium {
    width: 100%;
  }

  .category-left {
    text-align: left;
  }

  .graphics {
    display: block;
    padding: 15px;
    height: auto;
  }

  .graphic{
    display:flex;
    height: 100px !important;
    width: 50%;
    margin-bottom: 20px;
  }
  .graphic-head {
    width: 110px;
    height: 100%;
    flex-shrink: 0;
  }

  .graphic-body {
    width: calc(100% - 110px);
    height: auto;
    display: flex;
    align-items: center;
  }

  .graphic.animate:nth-child(1) {
    animation: grow-mobile-1 2s normal forwards ease-in-out;
  }
  .graphic.animate:nth-child(2) {
    animation: grow-mobile-2 2s normal forwards ease-in-out;
  }
  .graphic.animate:nth-child(3) {
    animation: grow-mobile-3 2s normal forwards ease-in-out;
  }
  .graphic.animate:nth-child(4) {
    animation: grow-mobile-4 2s normal forwards ease-in-out;
  }
  .graphic.animate:nth-child(5) {
    animation: grow-mobile-5 2s normal forwards ease-in-out;
  }
  .graphic.animate:nth-child(6) {
    animation: grow-mobile-6 2s normal forwards ease-in-out;
  }
  @keyframes grow-mobile-1 {
    from {
      width: 50%;
    }
    to {
      width: 75%;
    }
  }
  @keyframes grow-mobile-2 {
    from {
      width: 50%;
    }
    to {
      width: 80%;
    }
  }
  @keyframes grow-mobile-3 {
    from {
      width: 50%;
    }
    to {
      width: 85%;
    }
  }
  @keyframes grow-mobile-4 {
    from {
      width: 50%;
    }
    to {
      width: 90%;
    }
  }
  @keyframes grow-mobile-5 {
    from {
      width: 50%;
    }
    to {
      width: 95%;
    }
  }
  @keyframes grow-mobile-6 {
    from {
      width: 50%;
    }
    to {
      width: 100%;
    }
  }
}
